{% extends 'base.html' %}
{% block title %}
{% if record %}
Редактирование данных
{% else %}
Добавление новой записи
{% endif %}
{% endblock %}
{% load static %}
{% block stylesheet %}
<link rel='stylesheet' href='{% static "bootstrap/dist/css/bootstrap.css" %}'>
<link rel='stylesheet' href='{% static "bootstrap/scss/_forms.scss" %}'>
{% endblock %}
{% block header %}
{% if record %}
<h1> редактирование записи </h1>
{% else %}
<h1> Добавление новой записи </h1>
{% endif %}
{% endblock %}
{% block content %}
{% load user_filters %}
<div class='row justify-content-center'>
    <div class='col-md-8 p-5'>
        <div class='card'>
            <div class='card-header'>
                {% if record %}
                Редактировать запись
                {% else %}
                Добавить новую запись.
                {% endif %}
            </div>
            <div class='card-body'>
                {% for key, value in form.errors.items %}
                <div class='alert alert-danger' role="alert">
                    {{ value|escape}}
                </div>
                {% endfor %}
                <form method='post' enctype='multipart/form-data'>
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form__group">
                        <label for='{{ field.id_for_label }}' class="form__label">
                            {{ field.label }}{% if field.field.required %}
                            <span class='required'>*</span>{% endif %}
                        </label>
                        <div class="form__field-group">
                            {{ field|addclass:"form__input" }}
                            {% if form.errors %}
                            {% for error in field.errors %}
                            <span class="form__error">{{ error|escape }}</span>
                            {% endfor %}
                            {% endif %}
                            {% if field.help_text %}
                            <small id='{{ field.id_for_label }}-help'>
                                {{ field.help_text|safe }}
                            </small>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                    <div class="form__footer">
                        <button class="button button_style_blue">
                            {% if record %}
                            Редактировать запись
                            {% else %}
                            Добавить новую запись.
                            {% endif %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}