{% extends 'base.html' %}
{% block title %}Сброс пароля{% endblock %}
{% block stylesheet %}
   <link rel="stylesheet" href="{% static 'pages/form.css'%}">
{% endblock %}
{% block content %}
{% load user_filters %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Сброс пароля</h1>
    </div>
    <div class="form-container">
        <form class="form" method="post">
             {% csrf_token %}
            <p class="form__info-text">
                Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались.
            </p>
            <div class="form__group">
                <label for="id_email" class="form__label">Адрес электронной почты</label>
                <div class="form__field-group">
                    <input type="email" name="email" id="id_email" class="form__input">
                    <span class="form__error"></span>
                </div>
            </div>
           <div class="form__footer">
               <button class="button button_style_blue">Сбросить пароль</button>
           </div>
        </form>
    </div>
</main>
{% endblock %}
