{% extends 'base.html' %}
{% block title %}Сброс пароля прошёл успешно{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'pages/index.css'%}">
{% endblock %}
{% block content %}
<div class="main container">
        <div class="form-container">
            <div class="form__info-text">
                Вы сбросили пароль
                Проверьте свою почту, вам должно прийти письмо со ссылкой
                для восстановления пароля.
            </div> <!-- card body -->
    </div> <!-- col -->
</div> <!-- row -->

{% endblock %}