
<table class="table">
    <thead>
    <tr>
        <th scope="col">ФИО соискателя</th>
        <th scope="col">Номер телефона соискателя</th>
        <th scope="col">Претендуемая должность</th>
        <th scope="col">Подразделение</th>
        <th scope="col">Дата выдачи тестового задания</th>
        <th scope="col">Время на выполнение задания</th>
        <th scope="col">Название отдела, проводившего собеседование</th>
        <th scope="col">ФИО сотрудника, проводившего собеседование</th>
        <th scope="col">Должность сотрудника, проводившего собеседование</th>
        <th scope="col">Дата получения результата тестового задания</th>
        <th scope="col">ФИО руководителя подразделения, получившего результат тестового задания</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for record in records %}
    <tr>
        <td>{{record.applicant_name}}</td>
        <td>{{record.phone_number}}</td>
        <td>{{record.position}}</td>
        <td>{{record.department}}</td>
        <td>{{record.interview_date}}</td>
        <td>{{record.time_to_complete}} дн.</td>
        <td>{{record.department_hr}}</td>
        <td>{{record.name_hr}}</td>
        <td>{{record.position_hr}}</td>
        <td>{{record.date_of_get}}</td>
        <td>{{record.head_of_department_name}}</td>
        <td>
             {% if user_employee.employee_department.id == record.department.id and user_employee.employee_role.id == 1%}
            <a class='p-2 text-dark' href='{% url "add_data" record.id %}'>
                <button type='submit' class='btn btn-primary'>
                    Внести данные
                </button>
            </a>
            {% endif %}
            {% if user_employee.employee_department.id == 1 %}
            <a class='p-2 text-dark' href='{% url "record_edit" record.id %}'>
                <button type='submit' class='btn btn-primary'>
                    Изменить запись
                </button>
            </a>
            {% endif %}
        </td>
    </tr>
    {% endfor%}
    </tbody>
</table>
{% if user_employee.employee_department.id == 1 %}
<a class='p-2 text-dark' href='{% url "add_record" %}'>
    <button type='submit' class='btn btn-primary'>
        Добавить запись
    </button>
</a>
{% endif %}