<nav class="nav">
    <div class="nav__container container">
        {% if user.is_authenticated %}
        <ul class="nav__items list">
            <li class="nav__item nav__link link">Пользователь: {{ user.get_full_name }}</li>
        </ul>
        <ul class="nav__items list">
            <li class="nav__item"><a href='{% url "password_change" %}' class="nav__link link">Изменить пароль</a></li>
            <li class="nav__item"><a href='{% url "logout" %}' class="nav__link link">Выход</a></li>
        </ul>
        {% else %}
        <ul class="nav__items list">
            <li class="nav__item"><a href='{% url "login" %}' class="nav__link link">Войти</a></li>
        </ul>
        {% endif %}
    </div>
</nav>
